<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="warn" style="margin-left: 850px" (click)="clientsMorales()" >
                    <span class="material-icons">
                    east
                    </span>Voir clients morales</button>

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Vos clients </h4>
                        <p class="card-category"> Clients Physiques </p>
                    </div>
                    <div class="card-body">
                        <label class="l1">Risque elevé</label>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Contact
                                    </th>
                                    <th>
                                        Pays Residence
                                    </th>
                                    <th>
                                       Statut Fatca
                                    </th>
                                    
                                    <th>
                                        Revue
                                    </th>

                                    
                                </thead>
                                <tbody>
                                  <tr *ngFor="let personne_physique of personne_physique">
                                      
                                      <td>{{personne_physique.codeClient}}</td>
                                      <td>{{personne_physique.numTelephone}}</td>
                                      <td>{{personne_physique.paysResidence}}</td>
                                      <td>{{personne_physique.statutFatca}}</td>
                                      <td>{{personne_physique.revue}}</td>
                                      
                                      
                                      
  
                                      <td class="text-center"><button class="btn btn-primary btn-xs" (click)="details(personne_physique.codeClient)" ><span class="material-icons">article</span></button></td>
                                      
                                      <td class="text-center"><button mat-stroked-button color="warn" (click)="risque(personne_physique.codeClient)" ><span class="material-icons">warning_amber</span></button>

                                
                                          
                                    </td>
                                    </tr>
                              </tbody>
                            </table>
                        </div>
                        <label class="l1">Risque moyennement elevé</label>
                        <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                
                                <th>
                                    ID
                                </th>
                                <th>
                                    Contact
                                </th>
                                <th>
                                    Pays Residence
                                </th>
                                <th>
                                   Statut Fatca
                                </th>
                                
                                <th>
                                    Revue
                                </th>

                                
                            </thead>
                            <tbody>
                              <tr *ngFor="let personne_physique1 of personne_physique1">
                                  
                                  <td>{{personne_physique1.codeClient}}</td>
                                  <td>{{personne_physique1.numTelephone}}</td>
                                  <td>{{personne_physique1.paysResidence}}</td>
                                  <td>{{personne_physique1.statutFatca}}</td>
                                  <td>{{personne_physique1.revue}}</td>
                                  
                                  

                                  <td class="text-center"><button class="btn btn-primary btn-xs" (click)="details(personne_physique1.codeClient)" ><span class="material-icons">article</span> </button></td>
                                  <td class="text-center"><button mat-stroked-button color="warn" (click)="risque(personne_physique1.codeClient)" ><span class="material-icons">warning_amber</span></button>

                                </tr>
                          </tbody>
                        </table>
                    </div>
                    <label class="l1">Risque faiblement elevé</label>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                    Contact
                                </th>
                                <th>
                                    Pays Residence
                                </th>
                                <th>
                                   Statut Fatca
                                </th>
                                
                                <th>
                                    Revue
                                </th>

                                
                            </thead>
                            <tbody>
                              <tr *ngFor="let personne_physique2 of personne_physique2">
                                  
                                  <td>{{personne_physique2.codeClient}}</td>
                                  <td>{{personne_physique2.numTelephone}}</td>
                                  <td>{{personne_physique2.paysResidence}}</td>
                                  <td>{{personne_physique2.statutFatca}}</td>
                                  <td>{{personne_physique2.revue}}</td>
                                  
                                  
                                  

                                  <td class="text-center"><button class="btn btn-primary btn-xs" (click)="details(personne_physique2.codeClient)" ><span class="material-icons">article</span></button></td>
                                  
                                  <td class="text-center"><button mat-stroked-button color="warn" (click)="risque(personne_physique2.codeClient)" ><span class="material-icons">warning_amber</span></button>

                            
                                      
                                </td>
                                </tr>
                          </tbody>
                        </table>
                    </div>
                    <label class="l1">Risque faible</label>
                    <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            
                            <th>
                                ID
                            </th>
                            <th>
                                Contact
                            </th>
                            <th>
                                Pays Residence
                            </th>
                            <th>
                               Statut Fatca
                            </th>
                            
                            <th>
                                Revue
                            </th>

                            
                        </thead>
                        <tbody>
                          <tr *ngFor="let personne_physique3 of personne_physique3">
                              
                              <td>{{personne_physique3.codeClient}}</td>
                              <td>{{personne_physique3.numTelephone}}</td>
                              <td>{{personne_physique3.paysResidence}}</td>
                              <td>{{personne_physique3.statutFatca}}</td>
                              <td>{{personne_physique3.revue}}</td>
                              
                              

                              <td class="text-center"><button class="btn btn-primary btn-xs" (click)="details(personne_physique3.codeClient)" ><span class="material-icons">article</span> </button></td>
                              <td class="text-center"><button mat-stroked-button color="warn" (click)="risque(personne_physique3.codeClient)" ><span class="material-icons">warning_amber</span></button>

                            </tr>
                      </tbody>
                    </table>
                </div>





                    </div>
                </div>
            </div>               
        </div>
    </div>
    
  </div>


