<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://www.bfigroupe.com/">
                        BFI
                    </a>
                </li>
                <li>
                    <a href="http://www.bfigroupe.com/qui-sommes-nous/">
                        Qui sommes-nous
                    </a>
                </li>
                <li>
                    <a href="http://www.bfigroupe.com/carthago/">
                        Carthago
                    </a>
                </li>
                <li>
                    <a href="http://www.bfigroupe.com/news-et-articles/">
                        Nouveauté
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a href="https://www.creative-tim.com" target="_blank">BFI</a> La solution bancaire urbanisée.
        </div>
    </div>
</footer>
