<form class="example-form"> 
    <table class="example-full-width" cellspacing="0"><tr>   
      <td><mat-form-field class="example-full-width">
        <mat-label>Code client :</mat-label>    
        <input matInput [(ngModel)]="pep.contact"   name="contact" id="contact" type="number" disabled required>
      </mat-form-field></td>    
      
  
     
    </tr>
       <tr>
        <td> <mat-form-field class="example-full-width">
            <mat-label>date_debut</mat-label>
            <input matInput [(ngModel)]="pep.date_debut"   name="date_debut" id="date_debut" type="date" required>
          </mat-form-field></td>
          <td> <mat-form-field class="example-full-width">
            <mat-label>date_fin</mat-label>
            <input matInput [(ngModel)]="pep.date_fin"   name="date_fin" id="date_fin" type="date" required>
          </mat-form-field></td>       
          </tr>
           <tr>
            <td>   <mat-form-field appearance="fill">
              <mat-label>Fonction PEP</mat-label>
              <mat-select [(ngModel)]="pep.fonction_pep"   name="fonction_pep" id="fonction_pep" type="text">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let pays of pays" [value]="pays.name" >
                  {{pays.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>  </td>
            <td>
            <mat-form-field appearance="fill">
              <mat-label>State</mat-label>
              <mat-select [(ngModel)]="pep.pays_pep"   name="pays_pep" id="pays_pep" type="text">
                <mat-option>None</mat-option>
                <mat-option  *ngFor="let pays of pays" [value]="pays.name" >
                  {{pays.name}}
                </mat-option>>
              </mat-select>
            </mat-form-field>
          </td>
           </tr>
  
  </table>
    <div class="row" style="margin-top: 25px;">                
      <div class="col-md-6">
    <button mat-raised-button color="primary" style="margin-left:230%;" (click)="OnCreatePEP()">Ajouter</button>
      </div>
      <div class="col-md-6">
    <button mat-raised-button color="warn" style="margin-left:160%;"   (click)="Close()">Fermer </button>
   </div></div>
  </form>
  
  
