
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="warn" style="margin-left: 800px"(click)="clientsPhysiques()"><span class="material-icons" style="margin-right: 5px;">filter_alt</span>Clients physiques</button>
                <button mat-raised-button color="warn" style="margin-left: 20px" (click)="clientsMorales()" ><span class="material-icons" style="margin-right: 5px;">filter_alt</span>Clients morales</button>
                
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Vos clients physiques</h4>
                   
                    </div>
                    <div class="card-body">
                        <div *ngIf="personne_physique ;else elseBlock">
                       
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Prenom
                                    </th>
                                    <th>
                                        N° Carte identite
                                    </th>
                                    <th>
                                        Statut Fatca
                                    </th>
                                    <th>
                                        Niveau risque
                                    </th>
                                    <th>
                                        Revue
                                    </th>
                                </thead>
                                <tbody>
                                  <tr>
                                      
                                     
                                      <td>{{personne_physique.nom}}</td>
                                      <td>{{personne_physique.prenom}}</td>
                                      <td>{{personne_physique.codeClient}}</td>
                                      <td>{{personne_physique.statutFatca}}</td>
                                      <td>{{personne_physique.niveauRisque}}</td>
                                      <td>{{personne_physique.revue}}</td>

                                      
  
                                      <td class="text-center"><button class="btn btn-primary btn-xs" (click)="details(personne_physique.codeClient)" ><span class="material-icons">article</span> </button></td>
                                      <td class="text-center"><button class="btn btn-danger btn-xs" (click)="deletePP(personne_physique.codeClient)" ><span class="material-icons">delete_outline</span> </button></td>
                                     
  
                                    </tr>
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <ng-template #elseBlock><p></p><p>Aucun client Moral trouvé ! Veuillez verifier le code saisie.</p></ng-template>

                    </div>
                </div>
            </div>               
        </div>
    </div>
    
  </div>
  