<form class="example-form"> 
    <table class="example-full-width" cellspacing="0"><tr>   
      <td><mat-form-field class="example-full-width">
        <mat-label>Code client :</mat-label>       
        <input matInput [(ngModel)]="parente.persPhy"   name="pers2" id="pers2" type="number" disabled  required>
      </mat-form-field></td>    
      
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>parente</mat-label>
          <mat-select [(ngModel)]="parente.lienParente" id="lien_parente" name="lien_parente">
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
          
        </mat-form-field>
  </td>
    
  <td><mat-form-field class="example-full-width">
    <mat-label></mat-label>      
    <input matInput [(ngModel)]="parente.code_par"   name="codeParente" id="code_par" type="number"  required>
  </mat-form-field></td>  
     
    </tr>
      
          
  
  </table>
    <div class="row" style="margin-top: 25px;">                
      <div class="col-md-6">
    <button mat-raised-button color="primary" style="margin-left:230%;" (click)="OnCreateNAT()">Ajouter</button>
      </div>
      <div class="col-md-6">
    <button mat-raised-button color="warn" style="margin-left:160%;"   (click)="Close()">Fermer </button>
   </div></div>
  </form>
  

